__pycache__/

#virtual environments
venv/
.venv
run/

#enviroment variables and secrets
.env
config.py

#caches
cache_theme.json
cache_genre.json
cache_comparititve_title.json


embedding_buckting.egg-info/
.json